// .form {
//   display: block;
//   width: 600px;
//   // min-width: 100%;
// }

.mat-form-field {
  width: 100%;
}

.check {
  margin-top: 1.6em;
}

.check-label {
  padding-left: 1.6em;
  color: #0E0C20;
}

.checkbox-input {
  appearance: none;
  position: absolute;
  // color: #6542F3;
  // padding-top: 1em;
  width: 2em;
  height: 2em;
}

.checkbox {
  position: absolute;
  cursor: pointer;
  margin-left: -1.6em;
  margin-top: 0.4em;
  width: 1em;
  height: 1em;
  background-color: #FFFFFF;
  border-radius: 4px;
  // border: solid 1.5px #E7E7E7;
  box-shadow: 1px 1px 1px 1px #E7E7E7, -1px -1px 1px 1px #E7E7E7, 1px -1px 1px 1px #E7E7E7, -1px 1px 1px 1px #E7E7E7;
}

.checkbox-input:checked+.checkbox {
  // background-size: initial;
  // background-image: linear-gradient(360deg, #55AEEF -3.14%, #7C46F8 99.49%), linear-gradient(180deg, #7C45F8 0%, #746FFA 30.33%, #6D90FB 100%);
  box-shadow: none;
  background-color: #6D90FB;
  background-image: url("../../assets/img/checkbox_check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 98%;
  transition: .2s;
}


.btn-form {
  width: 200px;
  height: 80px;
  color: #FFFFFF;
  margin-top: 1.5em;
  border-radius: 8px;
  border: none;
  background: linear-gradient(360deg, #55AEEF -3.14%, #7C46F8 99.49%), linear-gradient(180deg, #7C45F8 0%, #746FFA 30.33%, #6D90FB 100%);

  &:active {
  background: linear-gradient(360deg, #55AEEF -3.14%, #7C46F8 99.49%), linear-gradient(180deg, #EF5DA8 0%, #F178B6 30.33%, #FCDDEC 100%);
}

  &:disabled {
    color: #A5A3A4
  }
  &:hover {
    box-shadow: none;
    background-color: #EF5DA8;
    color: white;
  }



  //   &:target {
  //    background: linear-gradient(180deg, #EF5DA8 0%, #F178B6 30.33%, #FCDDEC 100%);
  //  }

  //  &:focus {
  //    background: linear-gradient(180deg, #EF5DA8 0%, #F178B6 30.33%, #FCDDEC 100%);
  //  }
}

mat-label {
  color: #A5A3A4;
}

.check-policy {
  cursor: pointer;
  color: #6542F3;
}
