@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;600&display=swap');
@import "/src/styles/variables.scss";
@import "/src/styles/mixins/adaptiv-font.scss";

* {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #0E0C20;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

h2 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.header__logo {
  @include adaptiv-font(36, 18);
  margin-left: 2rem;
  color: #7338F6;
  color: linear-gradient(180deg, #7C45F8 0%, #746FFA 79.33%, #6D90FB 100%);
}

.header__button {
  cursor: pointer;
  width: 170px;
  width: 13.2em;
  height: 56px;
  margin-right: 2vh;
  font-size: 12px;
  border-radius: 8px;
  color: #7338F6;
  background-color: $buttonBackgroundColor;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(360deg, #55AEEF -3.14%, #7C46F8 99.49%),
    linear-gradient(180deg, #7C45F8 0%, #746FFA 30.33%, #6D90FB 100%);
  border: solid 1.5px transparent;
  box-shadow: 2px 1000px 1px #fff inset;
}

[class*="__container"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2138px;
  margin: 0 2vw;
}

.header__button:hover {
  box-shadow: none;
  color: white;
}

.main__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2rem;
}

.main__block {
  width: 50vw;
  align-items: center;
  align-content: center;
  font-family: 'Jost', sans-serif;
  @include adaptiv-font(80, 36);
  line-height: 1em;

  @media screen and (max-width: 860px) {
    width: 100vw;
    text-align: center;
  }
}

.form__block {
  @include adaptiv-font(24, 14);
}

.circle_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.circle__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  margin-left: 80px;
  margin-right: 1rem;

  @media screen and (max-width: 860px) {
    display: none;
  }
}

.circle {
  display: flex;
  border-radius: 50%;
}

.one {
  background-color: $backgroundColorLight;
  margin: 0px 6px 48px 97px;
  align-self: flex-end;
  width: 7.6vw;
  height: 7.6vw;
}

.two {
  background-color: $backgroundColorDark;
  align-self: flex-end;
  width: 19.8vw;
  height: 19.8vw;
}

.three {
  background-color: $backgroundColorLight;
  margin: -48px 0px 1px 0px;
  width: 22.4vw;
  height: 22.4vw;
}

.four {
  background-color: $backgroundColorDark;
  align-self: flex-start;
  margin: 2px 0px 0px 4px;
  width: 7.2vw;
  height: 7.2vw;
}

.mat-snack-bar-container {
  max-height: 170px !important;
  display: flex;
  // padding: 0 !important;
  max-width: 2132px !important;
  min-width: 100% !important;
  min-height: auto !important;
  background-color: #FFFFFF;
  color: $fаontColorМain;
}

.check-policy {
  cursor: pointer;
  color: #6542F3;
}
